@import url(http://fonts.googleapis.com/css?family=Signika);

@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/league-gothic/leaguegothic-regular-webfont.eot');
    src: url('../fonts/league-gothic/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league-gothic/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/league-gothic/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/league-gothic/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Signika', sans-serif;
    font-size: 130%;
    padding-top: 50px;
    margin-bottom: 118px;
    height: 100%;
    width: 100%;
}

a:link, a:visited {
    color: #ffde00;
}

/* Berkeley blue (Pantone 282) */
a:hover {
    color: #003A70;
}

h2 {
    font-family: 'League Gothic';
    font-size: 5em;
    margin-bottom: 13px;
}

.navbar-right {
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.navbar-right > li {
    display: inline-block;
    opacity: 0.5;
}

.navbar-right > li:hover {
    opacity: 1;
    cursor: pointer;
}

.navbar-link img {
    width: 21px;
    height: 21px;
}

.jumbotron {
    margin-bottom: 0px;
    height: 800px;
    background: transparent;
}

.teaser-subtext {
    font-size: 7.5em;
    width: 100%;
    text-align: center;
}

/* Correctly repositions anchor links */
.anchor {
    display: block;
    height: 50px;
    margin-top: -50px;
    visibility: hidden;
}

.info-section {
    position: relative;
    text-align: center;
    color: #ffffff;
}

.row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.info-text {
    font-size: 1.21em;
}

.info-text img {
    /* border: 5px outset #003A70; */
    border: 1px solid #000000;
}

/* A transparent box that, when positioned
   behind text, ought to increase readability */
.transp-box {
    background-color: rgba(5, 4, 2, 0.7);
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    /* border: 10px groove #003A70; */
    border: 5px double #003A70;
}

.transp-box-hidden {
    /* border-radius: 7px; */
    background-color: rgba(5, 4, 2, 0.5);
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 100px;
    opacity: 0;
    /* border: 5px double #003A70; */
    border: 1px solid #000000;
}

.transp-box-hidden p {
    margin-top: 5px;
}

.panel-group, .panel, .panel-primary, .panel-collapse, #accordion {
    opacity: 0.89;
    border-radius: 0 !important;
}

.panel-heading {
    background-color: #003A70 !important;
    border-radius: 0 !important;
}

.accordion-link, .accordion-link:link, .accordion-link:visited {
    color: #ffffff;
    opacity: 1 !important;
}

.accordion-link:hover {
    color: #A2A0A0;
}

.panel-body {
    background-color: rgba(0, 58, 112, 0.95);
}

.align-left {
    text-align: left;
    opacity: 1 !important;
}

.proj-link:hover, .work-link:hover {
    color: #FF8500;
}

.col-lg-6 {
    margin-bottom: 10px;
}

/* Center project images */
.img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-responsive:hover {
    opacity: 0.85;
}

.right-align {
    text-align: right;
}

.btn-primary {
    background-color: rgba(0, 58, 112, 0.7);
    border: 1px solid #002C54;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: rgba(0, 25, 48, 0.7);
    border: 1px solid #001930;
}

#body-wrapper {
    padding: 0px 15px 15px;
}

#header {
    top: 0px;
    width: 100%;
    font-size: 130%;
}

#logo {
    font-family: 'League Gothic';
    font-size: 112%;
}

#jtron-background {
    background: url('../images/plane_background_1920x1440.jpg') no-repeat center center;
    background-size: 132% auto;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

#teaser-main {
    font-family: 'League Gothic';
    font-size: 15em;
    width: 100%;
    text-align: center;
}

#teaser-main > a {
    color: #333333;
}

#teaser-main > a:link {
    color: #333333;
}

#teaser-main > a:visited {
    color: #333333;
}

/* Doubly serving as a decoy link */
#superscript0, #superscript1, #superscript2 {
    color: #ffde00;
    cursor: pointer;
}

#superscript0:hover, #superscript1:hover, #superscript2:hover {
    color: #003A70;
}

#hidden-footnote {
    font-size: 1.5em;
    text-align: center;
    visibility: hidden;
}

#coursework {
    text-align: left;
}

#footer-wrapper {
    background: #222222;
    width: 100%;
    height: 118px;
    color: #ffffff;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;
    z-index: 1;
}

#footer-text {
    width: 990px;
    margin: 0px auto;
    font-size: 1.21em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Mobile-specific settings */
@media (max-width: 480px) {
    button {
        z-index: 9999;
    }
    
    .navbar-right {
        right: 100px;
    }
    
    .navbar-link {
        margin-top: 4px;
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .jumbotron {
        height: 460px;
    }
    
    .transp-box {
        padding: 10px;
    }
    
    .transp-box-hidden {
        padding: 10px;
        opacity: 1;
    }
    
    #links {
        width: 100%;
        left: 83px;
        top: 11px;
    }
    
    #jtron-background {
        height: 800px;
        background: url('../images/plane_background_480x720.jpg') no-repeat center bottom;
        background-size: cover;
    }
    
    #teaser {
        margin-top: 70px;
    }
    
    #teaser-main {
        font-size: 6.5em;
    }
    
    #footer-wrapper {
        height: 40px;
        overflow: hidden;
    }
    
    #footer-text {
        width: 100%;
    }
}

/* Big monitor settings */
@media (min-height: 801px) {
    .jumbotron {
        height: 1000px;
    }
}
