@import url(http://fonts.googleapis.com/css?family=Signika);

@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/league-gothic/leaguegothic-regular-webfont.eot');
    src: url('../fonts/league-gothic/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league-gothic/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/league-gothic/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/league-gothic/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');;
}

body {
    font-family: 'Signika', sans-serif;
    font-size: 130%;
    padding: 15px;
    padding-top: 50px;
}

.navbar-right {
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.navbar-right > li {
    display: inline-block;
}

.links {
    opacity: 0.8;
}

.links img {
    width: 21px;
    height: 21px;
}

.jumbotron {
    margin-bottom: 0px;
    height: 800px;
    background: transparent;
}

.teaser-subtext {
    font-size: 7.5em;
    width: 100%;
    text-align: center;
}

/* Correctly repositions anchor links */
.anchor {
    display: block;
    height: 50px;
    margin-top: -50px;
    visibility: hidden;
}

.info-section {
    position: relative;
    text-align: center;
    color: #ffffff;
}

.info-text {
    text-size: 130%;
    visibility: hidden;
}

/* A transparent box to put behind text
   in order to increase readability */
.transp-box {
    background-color: rgba(5, 4, 2, 0.5);
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.transp-box-hidden {
    background-color: rgba(5, 4, 2, 0.5);
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 100px;
    visibility: hidden;
}

#header {
    top: 0px;
    width: 100%;
    font-size: 130%;
}

#logo {
    font-family: 'League Gothic';
    font-size: 112%;
}

#jtron-background {
    background: url('../images/plane_background_1920x1440.jpg') no-repeat center center;
    background-size: 132% auto;
    position: fixed;
    width: 100%;
    height: 800px;
    top: 0;
    left: 0;
    z-index: -1;
}

@media (max-width: 480px) {
    button {
        z-index: 9999;
    }
    
    .navbar-right > li {
        margin-top: 4px;
    }
    
    .links {
        right: 100px;
    }
    
    #jtron-background {
        background: url('../images/plane_background_480x720.jpg') no-repeat;
        background-position: center bottom;
        background-size: cover;
    }
}

#teaser {
    margin-top: 185px;
}

#teaser-main {
    font-family: 'League Gothic';
    font-size: 15em;
    width: 100%;
    text-align: center;
}
