<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>CSS 184 | Owen Jow</title>
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="stylesheets/recap.css">
    <link rel="stylesheet" href="stylesheets/base.min.css">
    
    <!-- Favicon and other stuff -->
    <link rel="shortcut icon" href="/images/favicon.png">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="wrapper">
        <h1 align="middle">Star Wars: Return of the CSS</h1>
        <h3 align="middle">Coming soon to computers near you</h3>
        <hr />
        
        <!-- Introduction / overview -->
        
        The galaxy is in turmoil. Plasma cannonfire blossoms across the skies of 306 Soda as an age-old battle rages on. On one side, the Stylactic Republic. Champion to centuries of carefully written, stylesheet-heavy webpages, the Republic stands for peace, prosperity, and <code>&lt;link rel="stylesheet"&gt;</code> tags. Its opponent: the Confederacy of HTML-Only Systems, which has openly renounced the "causeless" temptresses known to the people as CSS and JavaScript. Sadly, more and more are swayed to the Confederacy's will each day. In desperation, the Republic has created many templates (such as the one you're looking at right now) in hopes of bringing its enemies back to the light. Will the plan succeed? The rest of the story is yet to be written...
        
        <br /><br />
        <hr />
        <br />
        
        
        <!-- Episode 1 -->
        
        
        <span class="anchor" id="ep1"></span>
        <h2>The Phantom Template</h2>
        <p>Lorem ipsum and all that. The quick brown fox jumps over the lazy dog! But what, my dear Theodosia, does it say as it's jumping? Who run it? <i>I</i>, Mr. Odacnelov, say there is mischief going on here!</p>
        <br />
        
        
        <!-- Episode 2 -->
        
        
        <span class="anchor" id="ep2"></span>
        <h2 style="margin-bottom: 0.1em">Attack of the Subtext</h2>
        <div class="overline">Hello! I am subtext. You can put <a href="/graphics/1844">links</a> in me if you want.</div><br />
        <p>Lorem ipsum and all that. The quick brown fox jumps over the lazy dog! But what, my dear Theodosia, does it say as it's jumping? Who run it? <i>I</i>, Mr. Odacnelov, say there is mischief going on here!</p>
        <br />
        
        
        <!-- Episode 3 -->
        
        
        <span class="anchor" id="ep3"></span>
        <h2>Revenge of the Style</h2>
        <p>Lorem ipsum and all that. The quick brown fox jumps over the lazy dog! But what, my dear Theodosia, does it say as it's jumping? Who run it? <i>I</i>, Mr. Odacnelov, say there is mischief going on here!</p>
        <br />
        
        
        <!-- Episode 4 -->
        
        
        <span class="anchor" id="ep4"></span>
        <h2>A New Hope</h2>
        <p>Lorem ipsum and all that. The quick brown fox jumps over the lazy dog! But what, my dear Theodosia, does it say as it's jumping? Who run it? <i>I</i>, Mr. Odacnelov, say there is mischief going on here!</p>
        <br />
       

        <!-- Episode 5 -->
        
        
        <span class="anchor" id="ep5"></span>
        <h2>The Empire Strikes Back</h2>
        <p>Lorem ipsum and all that. The quick brown fox jumps over the lazy dog! But what, my dear Theodosia, does it say as it's jumping? Who run it? <i>I</i>, Mr. Odacnelov, say there is mischief going on here!</p>
        <br />
        
        
        <!-- Episode 6 -->
        
        
        <span class="anchor" id="ep6"></span>
        <h2>Return of the Jedi</h2>
        <p>Lorem ipsum and all that. The quick brown fox jumps over the lazy dog! But what, my dear Theodosia, does it say as it's jumping? Who run it? <i>I</i>, Mr. Odacnelov, say there is mischief going on here!</p>
        <br />
        
        
        <!-- Episode 7 -->
        
        
        <span class="anchor" id="ep7"></span>
        <h2>The JS Awakens</h2>
        <p>Lorem ipsum and all that. The quick brown fox jumps over the lazy dog! But what, my dear Theodosia, does it say as it's jumping? Who run it? <i>I</i>, Mr. Odacnelov, say there is mischief going on here!</p>
        <br />
    </div>
    
    <!-- Navigation -->
    <section id="navdots"><ul>
        <a href="#ep1"><li class title="Episode 1"></li></a>
        <a href="#ep2"><li class title="Episode 2"></li></a>
        <a href="#ep3"><li class title="Episode 3"></li></a>
        <a href="#ep4"><li class title="Episode 4"></li></a>
        <a href="#ep5"><li class title="Episode 5"></li></a>
        <a href="#ep6"><li class title="Episode 6"></li></a>
        <a href="#ep7"><li class title="Episode 7"></li></a>
    </ul></section>
    
    <!-- Scripts -->
    <script type="text/javascript">
        function gestureStart(){for(i=0;i<metas.length;i++)"viewport"==metas[i].name&&(metas[i].content="width=device-width, minimum-scale=0.25, maximum-scale=1.6")}var metas=document.getElementsByTagName("meta"),i;if(navigator.userAgent.match(/iPhone/i)){for(i=0;i<metas.length;i++)"viewport"==metas[i].name&&(metas[i].content="width=device-width, minimum-scale=1.0, maximum-scale=1.0");document.addEventListener("gesturestart",gestureStart,!1)}
    </script>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    <script src="javascripts/scrollspy.min.js"></script>
</body>
</html>
