body {
    text-align: center;
    padding-top: 17%;
}

@media (min-width: 481px) {
    body {
        font-size: 95%;
        font-family: "Courier New", Courier, monospace;
    }
}

@media (max-width: 480px) {
    .inner {
        position: absolute;
        top: 42%;
        -webkit-transform: translateY(-42%);
        -ms-transform: translateY(-42%);
        transform: translateY(-42%);
    }
}
