---
layout: secret
---

<h1>{{ page.title }}</h1>
<h2>Only the real {{ page.title }} would know the answers to all of these questions.</h2>
<p>
    <h3><u>The passphrase</u></h3>
    An ordered concatenation of answers to the questions below (<b>all lowercase, with spaces removed</b>).<br>
    For example, if the answers were {{ content }}
    
    <h3><u>Decryption</u></h3>
    <input type="password" name="passphrase" id="pp_input" size="35" maxlength="55" /><br>
    <b>Current passphrase</b>: <span id="passphrase"></span><br><br>
    <b>Encrypted text</b>: <span id="encrypted"></span><br><br>
    <b>Decrypted text</b>: <span id="decrypted">N/A</span>
</p>

<script type="text/javascript">var prevPassphrase = "", autoselect = true; timeoutDelay = 2999;</script>
