<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png" />
    
    <title>{{ page.title }} | Owen Jow</title>
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/secret.css" />
</head>
<body>
    {{ content }}
    
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/js/crypto/rollups/aes.js"></script>
    <script>
        /* TODO [in an earlier script]
         * Define vars
         * - encrypted: the encrypted message
         * - randomDecryptions: random decryptions for output display
         * - prevPassphrase: the initial passphrase input
         * - autoselect: a boolean specifying whether or not the input box should be automatically selected
         * - timeoutDelay: pause time after a keypress
         */
        cipherParams = CryptoJS.lib.CipherParams.create({
            ciphertext: CryptoJS.enc.Hex.parse(encrypted)
        });
        $('#encrypted').text(encrypted);
        
        var passphrase = "", asleep = false;
        var wake = function() {
            asleep = false;
            if (passphrase !== prevPassphrase) { decrypt(); }
        }
        
        var numDecryptions = randomDecryptions.length;
        var decrypt = function() {
            var decrypted = CryptoJS.AES.decrypt(encrypted, passphrase).toString(CryptoJS.enc.Latin1);
            if (decrypted) {
                $('#decrypted').text(decrypted);
            } else {
                $('#decrypted').text(randomDecryptions[Math.floor(Math.random() * numDecryptions)]);
            }
        }
        
        ppInput = document.getElementById('pp_input');
        ppInput.onkeyup = function() {
            passphrase = ppInput.value;
            $('#passphrase').text(passphrase);
            
            if (asleep) { return; }
            else if (passphrase !== prevPassphrase) {
                // Don't change the decryption output for no reason
                prevPassphrase = passphrase;
                
                decrypt();
                asleep = true;
                setTimeout(wake, timeoutDelay);
            }
        };
        if (autoselect) { ppInput.select(); }
    </script>
</body>
</html>
