---
layout: cs61a
title: Home
---

<h1 class="page-title">Home</h1>
<p>
    Welcome! My name is Owen Jow, and I'm a 2014 graduate of CS 61A with a lot of love for the class. I constructed this webpage as an avenue for me to share my knowledge – it's pretty bare right now, but hopefully that will change over time!
</p>

<hr />

Announcements:

<div class="posts">
  {% for post in site.posts %}
      {% if post.categories contains 'cs61a' %}
      <div class="post">
        <h1 class="post-title">{{ post.title }}</h1>
        <span class="post-date">{{ post.date | date_to_string }}</span>
        {{ post.content }}
      </div>
      {% endif %}
  {% endfor %}
</div>
